<div id="<%= dom_id company %>">
  <p>
    <strong>Name:</strong>
    <%= company.name %>
  </p>

  <div>
    <% if company.logo.representable? %>
      <%= image_tag company.logo.representation(resize_to_limit: [100, 100]) %>
    <% end %>
  </div>
</div>
